/* Stiluri pentru pagina de creare grup */
.create-group-page {
    background: linear-gradient(to right, #D6AEDD, #D6AEDD); /* Gradient pastelat pe întreaga pagină */
    height: 100vh; /* Întinde pe întreaga înălțime a ecranului */
    width: 100vw; /* Întinde pe întreaga lățime a ecranului */
    display: flex;
    justify-content: center; /* Centrează conținutul pe orizontală */
    align-items: center; /* Centrează conținutul pe verticală */
    font-family: 'Arial', sans-serif;
    color: white; /* Text alb pentru contrast */
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #9523aa; /* Culoare în ton cu tema aplicației */
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8); /* Fundal alb transparent */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Lățime limitată pentru formular */
  }
  
  input, textarea {
    padding: 12px;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #9523aa;
    width: 100%;
    box-sizing: border-box; /* Asigură că padding-ul nu mărește dimensiunea input-ului */
  }
  
  textarea {
    resize: vertical; /* Permite redimensionarea pe verticală pentru textarea */
  }
  
  button {
    background-color: #9523aa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin-top: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%; /* Butonul să ocupe întreaga lățime a formularului */
  }
  
  button:hover {
    background-color: #FFB7B2;
    color: #9523aa;
  }
  
  .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
  }
  