/* Stiluri pentru pagina de Profil */
.profile-page {
    background: linear-gradient(to right, #D6AEDD, #D6AEDD); /* Gradient pastelat pe întreaga pagină */
    height: 100vh; /* Întinde pe întreaga înălțime a ecranului */
    width: 100vw; /* Întinde pe întreaga lățime a ecranului */
    display: flex;
    justify-content: center; /* Centrează pe orizontală */
    align-items: center; /* Centrează pe verticală */
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 0; /* Asigură că nu există margini implicite */
    margin: 0; /* Elimină marginile implicite ale browserului */
  }
  
  h2 {
    font-size: 2.5rem;
    color: #9523aa; /* Culoare în ton cu tema aplicației */
    margin-bottom: 20px;
    text-align: center; /* Aliniere la centru pentru titlu */
  }
  
  button {
    background-color: #9523aa;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #FFB7B2;
    color: #9523aa;
  }
  